extends layout
include includes/slider
block content
  h1= title
  ul#game-list
    each game in games
      li.game-item
        a(href='/game/#{game.name}')
          div.game-thumbnail(style="background-image:url('#{game.cdnUrl}/thumbnail.png');")
          div.game-text
            .game-title= game.name
            .game-description= game.description